boto
boto3
botocore
certifi
chardet
click
docutils
flashtext
Flask
Flask-Cors
gensim
idna
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
numpy
python-dateutil
requests
s3transfer
scikit-learn
scipy
six
sklearn
smart-open
urllib3
Werkzeug
